div.tiny-gui {
    position: absolute;
    z-index: 1000;
    left: 10px;
    top: 10px;
    border: none;
    box-shadow: 0 0 10px 0 lightgray;
    background-color: rgba(100,100,100,0.5);
    font-family: Courier, sans-serif;
    cursor: default;
    user-select: none;
    -moz-user-select: none;
}

div.tiny-gui div.form-title {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    line-height: 25px;
}

div.tiny-gui div.field {
    height: 25px;
    font-size: 20px;
    line-height: 25px;
    width: 250px;
    /*border: 1px solid black;*/
    margin-top: 1px;
}

div.tiny-gui input {
    width: 100%;
    border: 0;
    height: 25px;
    padding: 0;
    margin: 0;
    display: inline-block;
    cursor: pointer;
    background-color: #b1a9aa;
    font-size: 20px;
    font-family: Courier, sans-serif;
}

div.knob {
    position: absolute;
    left: 0;
    width: 25px;
    height: 25px;
    background-color: rgba(100, 85, 67, 0.5);
    border-radius: 15px;
}

div.knob:hover {
    background-color: rgba(100, 85, 67, 0.7);
}

div.range div.text {
    position: fixed;
    text-align: center;
    color: wheat;
}

div.field.button {
    transition: 250ms;
    text-align: center;
}

div.field.button:hover {
    background-color: rgba(100,100,100,0.3);
}

div.field.button:active {
    background-color: rgba(100,100,100,1);
}